.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}
body {background-color: red;}
.center { width: 80%;
          background-color: burlywood;
          margin-left: auto;
          margin-right: auto;
          padding: 20px;
          max-width: 500px;
        }