.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}
.first, .second {font-family: century gothic;}
.first {font-weight: bold;}
.second {color: gray; font-size: small;}
body {background-color: aliceblue; display: block; text-align: center;}
img {border-radius: 15px; width: 200px; height: 200px;}
section {border-style: solid; border-color: white; border-radius: 15px; background-color: white; border-spacing: 20px;}
.first, .second, .attribution {padding: 10px;}